In [1]:
import pandas as pd

In [2]:
import seaborn as sb

In [3]:
import numpy as np

In [4]:
df = pd.read_csv("Crashes_Last_Five_Years.csv")

In [5]:
df.head(3)

,X,Y,OBJECTID,ACCIDENT_NO,ABS_CODE,ACCIDENT_STATUS,ACCIDENT_DATE,ACCIDENT_TIME,ALCOHOLTIME,ACCIDENT_TYPE,...,DEG_URBAN_ALL,LGA_NAME_ALL,REGION_NAME_ALL,SRNS,SRNS_ALL,RMA,RMA_ALL,DIVIDED,DIVIDED_ALL,STAT_DIV_NAME
0,145.060690,-37.810373,2693452,T20120013207,ABS to receive accident,Finished,26/5/2012,11.40.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,BOROONDARA,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Arterial Other,Arterial Other,Undivided,Undivided,Metro
1,144.991172,-37.883157,2693453,T20120013209,ABS to receive accident,Finished,6/6/2012,15.40.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,PORT PHILLIP,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,"Arterial Other,Local Road",Undivided,Undivided,Metro
2,145.009458,-37.826952,2693454,T20120013212,ABS to receive accident,Finished,24/5/2012,09.00.00,No,Collision with vehicle,...,Metropolitan Excluding CBD,YARRA,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,"Arterial Other,Local Road",Undivided,Undivided,Metro

In [6]:
#df.ALCOHOLTIME[df.ALCOHOLTIME.isnull]

In [45]:
df.ALCOHOLTIME[df.ALCOHOLTIME.isnull()].sum()

0

In [46]:
#dfv = dfd.a.value_counts().sort_index()
#print("nan: %d" % dfv[np.nan].sum())
#print("1: %d" % dfv[1].sum())
#print("3: %d" % dfv[3].sum())
#print("total: %d" % dfv[:].sum())

In [7]:
df.shape

(76451, 65)

In [8]:
df.columns

Index([u'X', u'Y', u'OBJECTID', u'ACCIDENT_NO', u'ABS_CODE',
       u'ACCIDENT_STATUS', u'ACCIDENT_DATE', u'ACCIDENT_TIME', u'ALCOHOLTIME',
       u'ACCIDENT_TYPE', u'DAY_OF_WEEK', u'DCA_CODE', u'HIT_RUN_FLAG',
       u'LIGHT_CONDITION', u'POLICE_ATTEND', u'ROAD_GEOMETRY', u'SEVERITY',
       u'SPEED_ZONE', u'RUN_OFFROAD', u'NODE_ID', u'LONGITUDE', u'LATITUDE',
       u'NODE_TYPE', u'LGA_NAME', u'REGION_NAME', u'VICGRID_X', u'VICGRID_Y',
       u'TOTAL_PERSONS', u'INJ_OR_FATAL', u'FATALITY', u'SERIOUSINJURY',
       u'OTHERINJURY', u'NONINJURED', u'MALES', u'FEMALES', u'BICYCLIST',
       u'PASSENGER', u'DRIVER', u'PEDESTRIAN', u'PILLION', u'MOTORIST',
       u'UNKNOWN', u'PED_CYCLIST_5_12', u'PED_CYCLIST_13_18',
       u'OLD_PEDESTRIAN', u'OLD_DRIVER', u'YOUNG_DRIVER', u'ALCOHOL_RELATED',
       u'UNLICENCSED', u'NO_OF_VEHICLES', u'HEAVYVEHICLE', u'PASSENGERVEHICLE',
       u'MOTORCYCLE', u'PUBLICVEHICLE', u'DEG_URBAN_NAME', u'DEG_URBAN_ALL',
       u'LGA_NAME_ALL', u'REGION_NAME_ALL', u'SRNS', u'SRNS_ALL', u'RMA',
       u'RMA_ALL', u'DIVIDED', u'DIVIDED_ALL', u'STAT_DIV_NAME'],
      dtype='object')

In [10]:
df1 = df[[ 'ACCIDENT_DATE','ACCIDENT_TYPE','SPEED_ZONE','LONGITUDE','LATITUDE','INJ_OR_FATAL','NONINJURED','PEDESTRIAN','SEVERITY']]

In [11]:
df1.head()

,ACCIDENT_DATE,ACCIDENT_TYPE,SPEED_ZONE,LONGITUDE,LATITUDE,INJ_OR_FATAL,NONINJURED,PEDESTRIAN,SEVERITY
0,26/5/2012,Collision with vehicle,60 km/hr,145.06069,-37.81037,2,4,0,Other injury accident
1,6/6/2012,Collision with vehicle,60 km/hr,144.99117,-37.88316,1,1,0,Other injury accident
2,24/5/2012,Collision with vehicle,40 km/hr,145.00946,-37.82695,1,1,0,Other injury accident
3,6/6/2012,Struck Pedestrian,50 km/hr,145.13460,-37.84155,1,4,1,Serious injury accident
4,22/5/2012,Collision with vehicle,80 km/hr,145.29460,-37.88860,1,1,0,Serious injury accident

In [32]:
df1.columns = ['accident','date','alcohol','type','speed_zone','area','fatality']

In [12]:
# from memory copy
df1 = df1.copy()

In [34]:
drunk = df1[df1['alcohol'] == 'Yes']

In [ ]:
drunk = drunk['date']

In [ ]:
drunk17 = df1[]

In [16]:
drunk.head()

,accident,date,alcohol,type,speed_zone,area,fatality
5,T20120013221,6/6/2012,Yes,Collision with vehicle,70 km/hr,LATROBE,0
6,T20120013223,6/6/2012,Yes,Struck Pedestrian,70 km/hr,"YARRA,DAREBIN",0
11,T20120013621,11/6/2012,Yes,Collision with vehicle,100 km/hr,MELTON,0
13,T20120013625,7/1/2012,Yes,Collision with vehicle,60 km/hr,MOUNT ALEXANDER,0
17,T20120013631,7/6/2012,Yes,Collision with a fixed object,90 km/hr,WYNDHAM,0

In [17]:
drunk.shape

(28349, 7)

In [13]:
df1.shape

(76451, 9)

### Rate of Drunk driving
### 37% Accident be caused by Drunk

In [57]:
28349.0/76451

0.3708126774012112

### Rate of fatality & injury
### 1.74%  accidents with people dead in accidents
### IMPORTANT 2.25% accidents with fatality due to drunk driving

In [39]:
drunk[drunk['fatality'] > 0]['accident'].count()

639

In [40]:
drunk['accident'].count()

28349

In [41]:
639.0/28349.0

0.02254047761825814

In [42]:
undrunk = df1[df1['alcohol'] == 'No']

In [43]:
undrunk[undrunk['fatality'] > 0]['accident'].count()

692

In [44]:
692.0/28349.0

0.024410032099897703

In [58]:
drunk[drunk['fatality'] > 0]['accident'].count()

639

In [59]:
print df1[df1['fatality']>0]['accident'].count()
print df1['accident'].count()

1331
76451

In [46]:
#df1.head()

In [ ]:
#df1['date'] =

In [61]:
2.25/1.74

1.293103448275862

In [21]:
df1.to_csv('Drunkdata.csv')

In [47]:
#df1.sort_values('area')['area']

In [2]:
person = pd.read_csv("PERSON.csv")

/Users/chancey/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
person.head()

,ACCIDENT_NO,PERSON_ID,VEHICLE_ID,SEX,AGE,Age Group,INJ_LEVEL,Inj Level Desc,SEATING_POSITION,HELMET_BELT_WORN,ROAD_USER_TYPE,Road User Type Desc,LICENCE_STATE,PEDEST_MOVEMENT,POSTCODE,TAKEN_HOSPITAL,EJECTED_CODE
0,T20060000010,01,A,F,NaN,unknown,4,Not injured,LF,1,3,Passengers,,0,3130.0,,0
1,T20060000010,02,C,M,43.0,40-49,4,Not injured,LF,1,3,Passengers,,0,7310.0,,0
2,T20060000010,03,C,M,22.0,22-25,4,Not injured,LR,1,3,Passengers,,0,7310.0,,0
3,T20060000010,A,A,M,72.0,70+,4,Not injured,D,1,2,Drivers,V,0,3130.0,,0
4,T20060000010,B,B,F,62.0,60-64,3,Other injury,D,1,2,Drivers,V,0,NaN,N,0

In [20]:
import re
from math import sin, cos, sqrt, atan2, radians

In [74]:
df["LONGITUDE"][0]

145.06068999999999

In [23]:
for i in range()

145.06068999999999

In [25]:
len(df)

76451

In [ ]:
for i in range(len(df)):
    (df["LONGITUDE"][i]**2  + df["LATITUDE"][i]**2)**(1/2)

In [47]:
#df["LONGITUDE"][1]**2

In [38]:
(df["LONGITUDE"][0]**2 + df["LATITUDE"][0]**2)**(1/2.0)

149.90739762537737

### Deakin POI

In [23]:
df1["around"]= "null"

In [24]:
R = 6373.0
lat2 = radians(-37.84606263)
lon2 = radians(145.1159927)
for i in range(len(df1)):
    lat1 = radians(df1["LATITUDE"][i])
    lon1 = radians(df1["LONGITUDE"][i])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    if (distance < 3.5):
        df1["around"][i] = "Deakin"
    #print("Result:", distance)
    #print("Should be:", 278.546, "km")

/Users/chancey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
#df["around"]="monash"

In [34]:
#df.to_csv('campus.csv')

In [27]:
#len(df[df["around"]=="monash"])

### Federation Uni POI

In [28]:
#-37.7963689
#144.9611738

In [29]:
R = 6373.0
lat2 = radians(-37.5612738)
lon2 = radians(143.858911)
for i in range(len(df1)):
    lat1 = radians(df1["LATITUDE"][i])
    lon1 = radians(df1["LONGITUDE"][i])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    if (distance < 3.5):
        df1["around"][i] = "Federation Uni"
    #print("Result:", distance)
    #print("Should be:", 278.546, "km")

/Users/chancey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
#len(df[df["around"]=="Melbourne Uni"])

### La Trobe Uni POI

In [31]:
R = 6373.0
lat2 = radians(-37.7206671)
lon2 = radians(145.048414)
for i in range(len(df1)):
    lat1 = radians(df1["LATITUDE"][i])
    lon1 = radians(df1["LONGITUDE"][i])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    if (distance < 3.5):
        df1["around"][i] = "La Trobe"
    #print("Result:", distance)
    #print("Should be:", 278.546, "km")

/Users/chancey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Monash Uni POI

In [36]:
R = 6373.0
lat2 = radians(-37.9105238)
lon2 = radians(145.1362182)
for i in range(len(df1)):
    lat1 = radians(df1["LATITUDE"][i])
    lon1 = radians(df1["LONGITUDE"][i])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    if (distance < 3.5):
        df1["around"][i] = "Monash"
    #print("Result:", distance)
    #print("Should be:", 278.546, "km")

/Users/chancey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Melbourne Uni POI

In [37]:
R = 6373.0
lat2 = radians(-37.7963689)
lon2 = radians(144.9611738)
for i in range(len(df1)):
    lat1 = radians(df1["LATITUDE"][i])
    lon1 = radians(df1["LONGITUDE"][i])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    if (distance < 3.5):
        df1["around"][i] = "Melbourne"
    #print("Result:", distance)
    #print("Should be:", 278.546, "km")

/Users/chancey/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
df1.to_csv('campus.csv')